.form-section {
  padding-left: 30px;
}

.gutter-box {
  background: #00a0e9;
  padding: 5px 0;
}

.ant-radio-group {
  width: 100%
}

.end-date-section {
  padding-top: 30px;
  .radio-end-date-form {
    padding-left: 35px;
    margin-top: -37px;
  }
  .mt-26 {
    margin-top: -26px !important;
  }
}

.button-section{
  button {
    left: 80%;
  }
}

.ul-section {
  padding-top: 20px;
  font-size: 21px;
}

.calendar-section {
  font-size: 24px;
  padding-left: 90%;
  cursor: pointer;
  div {
    border: 2px solid blue;
    padding: 7px;
    border-radius: 59px;
    width: 43px;
    height: 43px;
    padding-top: 2px;
  }
}

.second-page {
.heading {
  padding-top: 20px;
  font-size: 17px;
}
  .no-result {
    padding-top: 12%;
    padding-left: 18%;
  }
}
