<div class="holidays-section">
  <span>Manage Weekly Off & Holidays</span>
  <div class="gutter-example">
    <div nz-row nzGutter="8">
      <div nz-col class="gutter-row" nzSpan="3" *ngFor="let item of weekList" (click)="selectWeek(item)">
          <div class="grid-config" [ngClass]="item.active ? 'active' : ''">{{item.name}}</div>
      </div>
    </div>
  </div>
  <div class="table-section">
    <div>Holidays</div>
    <div class="table-view">
      <nz-table [nzData]="holidaysList">
        <thead>
          <tr>
            <th>Date</th>
            <th>Holiday Name</th>
            <th><a (click)="openModal()"><i nz-icon nzType="plus-circle" nzTheme="outline"></i> ADD</a> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of holidaysList">
            <td>{{ data.date | date:'dd MMM  (EEEE)' }}</td>
            <td>{{ data.holidayName }}</td>
            <td>
              
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<!-- ******* Modal ********* -->
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    Add Holiday
  </ng-template>

  <ng-template #modalContent>
      <!-- <div nz-row nzGutter="16" nz-form [formGroup]="holidayForm" [nzLayout]="'vertical'">
          <div nz-col class="gutter-row" nzSpan="12">
              <div class="gutter-box">
                  <nz-form-item>
                      <nz-form-label class="fields-modal-input" [nzSpan]="24" nzRequired nzFor="name">Holiday Name
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                          <input nz-input formControlName="holidayName" placeholder="Enter a holiday name" />
                          <nz-form-explain *ngIf="iMapForm.get('name').dirty && iMapForm.get('name').errors">This
                              field is
                              required
                          </nz-form-explain>
                      </nz-form-control>
                  </nz-form-item>
              </div>
          </div>
      </div> -->
    <div nz-form [formGroup]="holidayForm" [nzLayout]="'vertical'">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Holiday Name</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input formControlName="holidayName" placeholder="Enter a holiday name" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSpan]="7" nzRequired>Date</nz-form-label>
              <nz-form-control [nzSpan]="12">
                  <nz-date-picker formControlName="date" (ngModelChange)="onChange($event)"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="addHoliday()">ADD</button>
  </ng-template>
</nz-modal>