.form-section {
  padding-left: 30px;
}

.gutter-box {
  background: #00a0e9;
  padding: 5px 0;
}

.ant-radio-group {
  width: 100%
}

.end-date-section {
  padding-top: 30px;
  .radio-end-date-form {
    padding-left: 35px;
    margin-top: -37px;
  }
  .mt-26 {
    margin-top: -26px !important;
  }
}

.button-section{
  button {
    left: 80%;
  }
}

.pb-35 {
  padding-bottom: 35px;
}